.sub-container {
    /* border-radius: 20px; */
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 5%;
    overflow: hidden;
}

.container .sub-container .table .table-head {
    background-color: #00bcd4;
    color: white;
    border-bottom: 2px solid black;
    
}

.head-row th {
    font-weight: bold;
    font-size: 1.3em;
}

.body-row:hover {
    cursor: pointer;
}

.body-row td {
    font-weight: bold;
    border-bottom: none;
}

.body-row th {
    font-size: 1.1em;
    border-bottom: none;
}