<div class="container-fluid">
    <div class="calendar-view-container">
        <div class="calendar-header">
            <div class="time-period-container">
                <button class="btn btn-primary" (click)="changeMonth(-1)"><</button>
                <label class="time-period-label">{{ currentMonth }}</label>
                <button class="btn btn-primary" (click)="changeMonth(1)">></button>
            </div>
            <div class="time-span-container">
                <button class="btn btn-primary">
                    Month
                </button>
                <button class="btn btn-primary">
                    Week
                </button>
                <button class="btn btn-primary">
                    Day
                </button>
            </div>
        </div>
        <div class="calendar-body">
            <div class="day-bar">
                <label>Sunday</label>
                <label>Monday</label>
                <label>Tuesday</label>
                <label>Wednesday</label>
                <label>Thursday</label>
                <label>Friday</label>
                <label>Saturday</label>
            </div>
            <div class="month-view">
                <div [ngClass]="{'time-slot': item.isCurrent, 'time-slot-noncurrent': !item.isCurrent}" *ngFor="let item of calendarItems;">
                    <label class="day-label">{{ item.id }}</label>
                </div>
            </div>
        </div>
        <div class="calendar-footer">

        </div>
    </div>
</div>
