.container-fluid {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    height: 80%;
    align-items: center;
}

.container-fluid .container-fluid-rounded {
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    border-radius: 5px;
    height: 100%;
    display: flex;
    align-items: center;
}

.container-fluid .container-fluid-rounded .form-group {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}

.container-fluid .container-fluid-rounded .form-group .form-header {
    /* border-bottom: solid thin rgb(153, 153, 153); */
    margin-bottom: 1%;
    background-color: #00bcd4;
    display: flex;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.container-fluid .container-fluid-rounded .form-group .form-header h1 {
    margin-left: 3%;
    padding-bottom: 1%;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.7px;
}

.container-fluid .container-fluid-rounded .form-group .form-body {
    padding: 5%;
}

.container-fluid .container-fluid-rounded .form-group .form-body input {
    /* border: 2px solid;
    border-image: linear-gradient(45deg, #59EAFD, #BFF0F6) 1; */
}

.container-fluid .container-fluid-rounded .form-group .form-body label {
    font-weight: bold;
    letter-spacing: 0.5px;
}

.time {
    display: flex;
}

.time label {
    font-weight: bolder;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
}

.submit-button {
    background-color: #5dd7e7;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    letter-spacing: 0.7px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 4px solid #50c4ff;
}

.address {
    display: flex;
    width: 100%;
}

.address-input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 80%;
    border-right: none;
}

.address-input:focus {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.set-address {
    border-right: 1px solid #00bcd4;
    border-top: 1px solid #00bcd4;
    border-bottom: 1px solid #00bcd4;
    border-left: none;
    background-color: #5dd7e7;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 0%;
}

.set-address:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.set-address button {
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid #50c4ff;
}

.set-address img {
    filter: brightness(0) invert(1);
}

.street {
    display: flex;
}

.street #s-name {
}

.street #s-num {
    margin-left: 10%;
}

.street-info div {
    margin-top: 5%;
}

.street-info .street {
    margin-top: 0%;
}

.modal-header {
    margin-bottom: 1%;
    background-color: #00bcd4;
    display: flex;
    align-items: center;
}

.modal-header h1 {
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.7px;
}