<div style="height: 100vh; display: flex;">
    <div class="container-fluid">
        <div class="container-fluid-rounded">
            <form class="form-group">
                <div class="form-header">
                    <h1>Register New Center</h1>
                </div>
                <div class="form-body">
                    <div class="form-row mb-4">
                        <div class="col-md-0">
                            <label for="centerName" class="form-label">Center Name</label>
                            <input type="text" class="form-control" id="centerName">
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col-md-0">
                            <label for="centerDesc" class="form-label">Description</label>
                            <input type="text" class="form-control" id="centerDesc">
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col-md-5">
                            <label for="centerDonation" class="form-label">Donation Price</label>
                            <input type="number" class="form-control" id="centerDonation">
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <label for="centerWh" class="form-label">Working Hours</label>
                        <div class="time col-md-0">
                            <div id="from">
                                <input type="time" class="form-control" id="centerWh">
                            </div>
                            <label>To</label>
                            <div class="to">
                                <input type="time" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col-md-5">
                            <label for="centerRating" class="form-label">Rating</label>
                            <input type="text" class="form-control" id="centerRating" placeholder="0" disabled>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col-md-0">
                            <label for="centerAddress" class="form-label">Address</label>
                            <input type="text" class="form-control" id="centerAddress">
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col-md-0">
                            <input type="submit" class="form-control btn submit-button">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
