<div class="alert">
    <app-custom-alert [hidden]="hidden" [alertMessage]="alertMessage" [type]="type"></app-custom-alert>
</div>
<div class="search-container">
            <label class="search-label">Search by:</label>
            <input type="text" class="form-control search-field" placeholder="Enter center name..." [(ngModel)]="name">
            <input type="text" class="form-control search-field" placeholder="Enter street name..." [(ngModel)]="streetName">
            <input type="text" class="form-control search-field" placeholder="Enter town name..." [(ngModel)]="townName">
            <button class="btn btn-primary" (click)="searchCenters()">Search</button>
            <button class="btn btn-primary" (click)="clearSearchInputs()">Clear</button>
</div>
<div class="filter-container">
    <label class="select-label">Filter by:</label>
    <label class="select-min-value-label">Score min</label>
    <select class="ratingScale" (change)="filterRatingMin($event)" [(ngModel)]="selectRatingMin">
        <option disabled selected hidden>Min score</option>
        <option *ngFor="let r of ratingScoreMin">{{r}}</option>
    </select>
    <label class="select-max-value-label">Score max</label>
    <select class="ratingScale" (change)="filterRatingMax($event)" [(ngModel)]="selectRatingMax">
        <option disabled selected hidden>Max score</option>
        <option *ngFor="let r of ratingScoreMax">{{r}}</option>
    </select>
</div>
<div class="sort-container">
    <label class="sort-label" for="btn btn-primary">Sort by:</label>
    <button class="btn btn-primary"  (click)="handleSort($event, 'name')">Name</button>
    <button class="btn btn-primary"  (click)="handleSort($event, 'city')">Town</button>
    <button class="btn btn-primary"  (click)="handleSort($event, 'rating')">Rating</button>
    <h4 *ngIf="orderValues[sortOrder] !== ''">| {{orderValues[sortOrder]}}</h4>
</div>
<div class="container">
    <div class="card" *ngFor="let c of centers">
        <div class="card-header">
           <h3>{{c.name}}</h3>
           <p>{{c.description}}</p>
           <button class="btn btn-primary"  *ngIf="userRole === 'ROLE_REGULAR'" (click)="openHistory(c.id)">Appointment History</button>
           <button class="btn btn-primary"  (click)="openCalendar(c.id)">Appointment Insight</button>
        </div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i>Country:</i> {{c.address.country}}</li>
                <li class="list-group-item"><i>Town:</i> {{c.address.town}}</li>
                <li class="list-group-item"><i>Address:</i> {{c.address.streetName}} {{c.address.streetNumber}}</li>
                <li class="list-group-item"><i>Average rating:</i> {{c.rating}}</li>
            </ul>
        </div>
    </div>
</div>