<div class="container-fluid">
    <div class="container-fluid-rounded">
        <div class="form-group">
            <form #regularUserRegistration="ngForm">
                <div class="form-header">
                    <h1>Register</h1>
                </div>
                <div class="form-body">
                    <div class="form-row mb-4">
                        <div class="col-md-0">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="userEmail" ngModel required>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col-md-0">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" [(ngModel)]="user.password" name="userPassword" ngModel required>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col-md-0">
                            <label for="passwordAgain" class="form-label">Enter password again</label>
                            <input type="password" class="form-control" id="passwordAgain" [(ngModel)]="passwordAgain" name="userPasswordAgain" ngModel required>
                        </div>
                    </div>
                    <div class="names form-row mb-4">
                        <div class="col-md-0">
                            <label for="userName" class="form-label">Name</label>
                            <input type="text" class="form-control" id="userName" [(ngModel)]="user.name" name="userName" ngModel required>
                        </div>
                        <div class="col-md-0">
                            <label for="userSurame" class="form-label">Surname</label>
                            <input type="text" class="form-control" id="userSurame" [(ngModel)]="user.surname" name="userSurname" ngModel required>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <label class="form-label">Address</label>
                        <div class="address col-md-8">
                            <input type="text" class="address-input form-control" placeholder="{{addressTB}}" name="adminAddress" disabled ngModel required>
                            <span class="set-address form-control">
                                <button type="button" data-bs-toggle="modal" data-bs-target="#AddressModal">
                                    <img src="assets/images/address.png" width="26" height="26">
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col-md-0">
                            <label for="upin" class="form-label">Upin</label>
                            <input type="text" class="form-control" id="upin" [(ngModel)]="user.upin" name="userUpin" ngModel required>
                        </div>
                    </div>
                    <div class="enums form-row mb-4">
                        <div class="col-md-0">
                            <label for="gender" class="form-label">Gender</label>
                            <select class="form-select" id="gender" #gender (change)="handleGender($event, gender.value)" required>
                                <option disabled selected hidden>-- Select --</option>
                                <option value="MALE">Male</option>
                                <option value="FEMALE">Female</option>
                            </select>
                        </div>
                        <div class="col-md-0">
                            <label for="phoneNumber" class="form-label">Phone Number</label>
                            <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="user.phoneNumber" name="userPhoneNumber" ngModel required>
                        </div>
                    </div>
                    <div class="enums form-row mb-4">
                        <div class="col-md-0">
                            <label for="workStatus" class="form-label">Work Status</label>
                            <select class="form-select" id="workStatus" #status (change)="handleWorkStatus($event, status.value)" required>
                                <option disabled selected hidden>-- Select --</option>
                                <option value="SCHOOL">School</option>
                                <option value="UNIVERSITY">University</option>
                                <option value="WORK">Work</option>
                                
                            </select>
                        </div>
                        <div class="col-md-0">
                            <label for="occupation" class="form-label">Occupation</label>
                            <input type="text" class="form-control" id="occupation" [(ngModel)]="user.occupation" name="userOccupation" ngModel required>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col-md-0">
                            <input type="submit" class="form-control btn submit-button" (click)="create($event)" [disabled]="regularUserRegistration.invalid">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="AddressModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title" id="exampleModalLabel">Enter User Address</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form #addressSetting="ngForm">
                <div class="form-body">
                    <div class="street-info form-row mb-4">
                        <div class="street">
                            <div class="col-md-6" id="s-name">
                                <label for="streetName" class="form-label">Street Name</label>
                                <input type="text" class="form-control" id="streetName" [(ngModel)]="user.address.streetName" name="streetName" ngModel required>
                            </div>
                            <div class="col-md-3" id="s-num">
                                <label for="streetNum" class="form-label">Number</label>
                                <input type="number" class="form-control" id="streetNum" [(ngModel)]="user.address.streetNumber" name="streetNum" ngModel required>
                            </div>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col-md-6">
                            <label for="town" class="form-label">Town</label>
                            <input type="text" class="form-control" id="town" [(ngModel)]="user.address.town" name="town" ngModel required>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col-md-6">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" id="country" [(ngModel)]="user.address.country" name="country" ngModel required>
                        </div>
                    </div>
                    <div class="form-row mb-4">
                        <div class="col-md-0">
                            <input type="submit" class="form-control btn submit-button"
                            value="Done"
                            data-bs-dismiss="modal" (click)="handleAddress($event)" [disabled]="addressSetting.invalid">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>