<div class="container-fluid">
    <div class="container-fluid-rounded">
       <div class="form-group">
            <div class="form-header">
                <h1>User: {{user}}</h1>
            </div>
            <div class="mx-0 mx-sm-auto" *ngFor="let question of questions; let i = index;">
                <div class="text-center">
                    <p>
                        <strong>{{question.question}}</strong>
                    </p>
                </div>
        
                <div class="text-center mb-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="yes{{i}}" type="radio" id="yesRadio{{i}}"
                            value="DA" [(ngModel)]="question.answer" />
                        <label class="form-check-label" for="yesRadio{{i}}">DA</label>
                        
                    </div>
        
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" name="no{{i}}" type="radio" id="noRadio{{i}}"
                            value="NE" [(ngModel)]="question.answer"/>
                        <label class="form-check-label" for="noRadio{{i}}">NE</label>  
                    </div>
                </div>
            </div> 
            <div class="form-row mb-4">
                <button type="button" class="form-control btn submit-button" (click)="saveQuestionnaire()" >Save</button>
            </div>
       </div>
    </div>
</div>