<div>
    <button type="submit" class="button" *ngIf="isEditing" (click)="reviewAppointment('CANCELED')">Cancel</button>
    <button type="submit" class="button" *ngIf="isEditing" (click)="reviewAppointment('DENIED')">Deny</button>
    <button type="submit" class="button" *ngIf="isEditing" (click)="changeIsEditing()">Start appointment</button>
    <div *ngIf="!isEditing">
        Description: <input type="text" class="form-control" [(ngModel)]="appointment.description">
        Blood Type: <input type="text" class="form-control" [(ngModel)]="blood.bloodType">
        Equipment used: <input type="text" class="form-control" [(ngModel)]="appointment.equipmentUsed">
        Amount of blood: <input type="text" class="form-control" [(ngModel)]="blood.amount">
        <button type="submit" class="button" (click)="reviewAppointment('FINISHED')">Finish the appointment</button>
    </div>
</div>