<div>
    <div *ngIf="!isEditing">
        <p *ngIf="isUserValid">User's survey is valid</p>
        <p *ngIf="!isUserValid">User's survey is not valid, his appointment should be denied</p>
        <button type="submit" class="button" (click)="reviewAppointment('CANCELED')">Cancel</button>
        <button type="submit" class="button" (click)="reviewAppointment('DENIED')">Deny</button>
        <button type="submit" class="button" (click)="changeIsEditing()">Start appointment</button>
    </div>
    <div *ngIf="isEditing">
        Description: <input type="text" class="form-control" [(ngModel)]="appointment.description">
        Blood Type: <input type="text" class="form-control" [(ngModel)]="blood.bloodType">
        Equipment used: <input type="text" class="form-control" [(ngModel)]="appointment.equipmentUsed">
        Amount of blood: <input type="text" class="form-control" [(ngModel)]="blood.amount">
        <button type="submit" class="button" (click)="reviewAppointment('FINISHED')">Finish the appointment</button>
    </div>
</div>